vim/bundle/*
vim/.netrwhist
atom/storage/*
atom/.node-gyp/*

config/obmenu-generator/icons/*
config/obmenu-generator/cache.db
config/openbox/menu.xml.bak
config/gtk-3.0/bookmarks

doom.d/secrets/*

.vagrant*

reports/*

http_cache.sqlite
