vim/bundle/*
vim/.netrwhist
atom/storage/*
atom/.node-gyp/*

config/obmenu-generator/icons/*
config/obmenu-generator/cache.db
config/openbox/menu.xml.bak
config/gtk-3.0/bookmarks

eventable/.bundle/*
eventable/pkg/*

*/.spacemacs.env

install.log

rfd/*

doom.d/secrets/*

.vagrant*

reports/*
