[Unit]
Description=Desktop Event Source
After=eventable-config.service

[Service]
Type=dbus
Environment="PATH=/home/jfaust/.rbenv/shims/gem:/home/jfaust/.gem/bin:/usr/bin:$PATH"
BusName=org.eventable.service
ExecStartPre=/home/jfaust/.rbenv/shims/gem install /home/jfaust/.dotfiles/eventable/pkg/eventable-0.0.1.gem
ExecStart=/home/jfaust/.gem/bin/eventable run
Restart=always

[Install]
WantedBy=multi-user.target
