$darker-background: #181926;
$background-primary: #24273A;
$background-secondary: #1E2030;
$background-tertiary: #181926;
$lighter-background: #24273A;

$foreground-primary: #C5C8C9;
$foreground-secondary: #9fa0a0;
$foreground-tertiary: #6e7071;

$red: #ED8796;
$blue: #8AADF4;
$blue-desaturated: #6791c9;
$magenta: #B7BDF8;
$green: #A6DA95;
$yellow: #EED49F;
$accent: $blue;
$peach: #F5A97F;
$text: #CAD3F5;

$javacafeMagenta: #B7BDF8;
$javacafeBlue: #8AADF4;
$javacafeCyan: #91D7E3;
