/* order of these files is important and should not be changed */

@import "icons/extension-icons.css";
@import "window-controls/wc-without-tabline.css";
@import "hide-tabline.css";
@import "userChrome-hover.css";

:root {
    --dark-0: #192330;
    --dark-base: #24273A;
    --dark-1: #20103c;
    --dark-2: #20103c;
    --dark-3: #2A3B51;
    --dark-4: #374E6C;
    --light-0: #ded8d7;
    --light-base: #ded8d7;
    --light-1: #dfd9d8;
    --light-2: #ded8d7;
    --light-3: #94abc7;
    --light-4: #87a0c0;
    --accent: #ED8796;
    --yellow: #EED49F;
    --green: #A6DA95;
    --red: #ED8796;
    --extension-icon-mask: grayscale(85%) invert(75%) sepia(8%) saturate(862%) hue-rotate(173deg) brightness(88%);

    /* expanded width of the sidebar.
    used for userChrome-static, and hover */
    --sidebar-width: 250px;
    /* initial width of the sidebar.
    advised not to change since tst css relies on this value*/
    --sidebar-collapsed-width: 60px;

    --dividers: 2px;

    --tl-animation-duration: 200ms;
    /*--tl-tab-background-gradient: */
    /* uncomment and add gradient value for selected tab gradient*/

    /******WINDOW CONTROL PLACEMENT VARS******/
    --wc-vertical-shift: 18px;
    /* larger value moves window controls down,*/
    /* can be negative(moves controls up) */
    /* Experiemntal: 55px if tabline visible, -25px if tabline hidden */
    --wc-left-space: 15px; /* add space to the left of window controls*/
    --wc-right-space: 18px; /* add space to the right of window controls*/
    /* left-space shifts window-controls */
    /* if you want to shift window controls to the left: positive value */
    /* if you want to shift them to the right: smaller or negative value */
    /* right-space shifts rest of the navbar (forward,backward,urlbar,etc.) to the right */
    /* if you want to increase/decrease space between window-controls and navbars: */
    /* set positive/smaller or negative value for right-space*/
}

:root[privatebrowsingmode="temporary"] {
    --dark-0: #192330;
    --dark-base: #24273A;
    --dark-1: #20103c;
    --dark-2: #20103c;
    --dark-3: #2A3B51;
    --dark-4: #374E6C;
    --light-0: #ded8d7;
    --light-base: #ded8d7;
    --light-1: #dfd9d8;
    --light-2: #ded8d7;
    --light-3: #94abc7;
    --light-4: #87a0c0;
    --accent: #ED8796;
    --yellow: #EED49F;
    --green: #A6DA95;
    --red: #ED8796;
    --extension-icon-mask: grayscale(85%) invert(13%) sepia(80%) saturate(3107%) hue-rotate(256deg) brightness(84%)
        contrast(93%);
}
