.control-center {
	.first-row {
		margin: 0em 1em;
	}
}

.cc-button-icon {
  color: $background-primary;
}

.cc-button-clicker {
  color: $background-primary;
}

.cc-button-btn.wifi {
  background-color: $red;
}
// .cc-button-btn.bluetooth {
//   background-color: $blue;
// }
// .cc-button-btn.airplane-mode {
//   background-color: $green;
// }
.cc-button-btn.night-light {
  background-color: $peach;
}
.cc-button-btn.do-not-disturb {
  background-color: $yellow;
}
// .cc-button-btn.disabled {
//   background-color: $blue;
// }

.cc-button-btn-indicator {
  background-color: $background-primary;
  margin: 0em .75em 0em .25em; 
  border-radius: 6px;
  min-width: 4px;
}

.cc-button-btn-indicator.disabled {
  background-color: $foreground-tertiary;
}

.cc-button-btn-indicator.active {
  background-color: $foreground-primary;
}
