.system_icon_nixos, .system_icon_memory, .system_icon_cpu {
  font-size: 34;
  margin: 35px;
}

// .forth-row {
//   background-color: $background-primary;
// }

.system_stats {
  background-color: $darker-background;
  // border-radius: 18px;
}

.system_nixos {
  color: #afbea2;
  background-color: $lighter-background;
  border-radius: 10px;
}
.system_cpu {
  color: #d78787;
  background-color: $lighter-background;
  border-radius: 10px;
}
.system_memory {
  color: #e0b089;
  background-color: $lighter-background;
  border-radius: 10px;
}

.system_icon_nixos {
  color: #afbea2;
}
.system_icon_cpu {
  color: #d78787;
}
.system_icon_memory {
  color: #e0b089;
}

.system_nixos_box {
	border-radius: 16px;
  margin-left: 30px;
  margin-right: 0px;
  // margin: 10px 0px 10px 20px;
}
.system_cpu_box {
	border-radius: 16px;
  margin-left: 20px;
  // margin: 10px 20px 10px 20px;
}
.system_memory_box {
	border-radius: 16px;
  margin-left: 15px;
  // margin: 10px 20px 10px 0px;
}
